// currently commented out, moved to asc
.asl__container {
//   // width: 300px;
  height: 100px;
  overflow: auto;
  grid-area: song-list;
//   z-index: 10;
//   background-color: #3f3f3f;
//   position: absolute;
//   top: 25%;
//   left: 50%;
//   transform: translateX(-50%);
//   position: fixed;
//   list-style: none;
}

.asl__container li:nth-child(2n) {
  background: white;
}