.asc__container {
  // width: 300px;
  // height: 300px;
  z-index: 10;
  background-color: #3f3f3f;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
  list-style: none;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "song-list song-info""song-list song-player"
}