.al__list {
  list-style: none;
  text-align: center;
}

.al__list-item {
  display: inline-flex;
  vertical-align: top;
  margin: 30px;
  margin-bottom: 10px;
  border: solid thin $border-color;
  padding: 5px;
  max-width: 162px;
}

.al__item-figure {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  flex: 0;
}

.al__item-image {
  height: 150px;
  width: 150px;
}

.al__item-caption {
  text-align: center;
  padding-top: 3px;
}
