.list {
  list-style: none;
  text-align: center;
}

.list-item {
  display: inline-block;
  vertical-align: top;
  margin: 30px;
  border: solid thin $border-color;
  padding: 5px;
}

.item-figure {
  display: table;
  font-family: $item-font, cursive;
  font-size: 17px;
  font-weight: 600;
}

.item-image {
  height: 150px;
  width: 150px;
}

.item-caption {
  display: table-caption;
  caption-side: bottom;
  text-align: center;
}
