.ai__container {
  width: 40%;
}

.ai__artists-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: "name name""popularity followers""genres genres""genres genres";
  text-align: center;
}

.ai__name {
  grid-area: name;
  font-size: 1.8em;
  margin-bottom: 5px;
}

.ai__popularity {
  grid-area: popularity;
  font-size: 1.1em;
}

.ai__followers {
  grid-area: followers;
  font-size: 1.1em;
}

.ai__genres {
  grid-area: genres;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.ai__genre {
  font-size: 0.8em;
}
