.search-box__input-container {
  width: 60%;
  margin: auto;
}

.search-box__artist-input-wrapper {
  position: relative;
  font-size: 1.5em;
  background: linear-gradient(21deg, $search-background-first, $search-background-second);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
  width: 100%;

  *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1;
  }
}

.search-search-box__artist-input {
  font-family: inherit;
  line-height: inherit;
  color: $input-color;
  min-width: 12em;
  font-family: sans-serif;
  font-size: 100%;
  width: 100%;
}

::placeholder {
  color: $placeholder-color;
}
