$border-color: #c0c0c0;

$search-background-first: #10abff;
$search-background-second: #1beabd;
$input-color: #2e3750;
$placeholder-color: #cbd0d5;

$header-background-first: #9f05ff69;
$header-background-second: #fd5e086b;
$shadow-color: #333;
$header-text-color: #FFF;
$header-font: 'Dancing Script';

$item-font: 'Cormorant Upright';
