$background: #031634;
$lighter-background: #033649;
$even-lighter-background: #036564;
$faded-background: #000000;

$border-color: #c0c0c0;

$search-background-first: #10abff;
$search-background-second: #1beabd;
$input-color: #2e3750;
$placeholder-color: #cbd0d5;
$input-background-color: #E8DDCB;

$shadow-color: #333;
$header-text-color: #E8DDCB;
$header-font: 'Playfair Display';

$item-font: 'Chivo';
$font-color: #E8DDCB;
$darker-font: #CDB380;

$scroll-background: #F5F5F5;
$scroll-color: #ff6347;