.aa__list-item {
  margin: 10px;
  max-width: 87px;
}

.aa__item-figure {
  font-size: 0.7em;
}

.aa__item-image {
  height: 75px;
  width: 75px;
}

.aa__album-year {
  text-align: right;
  font-size: 0.8em;
  color: $darker-font;
  padding-top: 1px;
}
